body{
    margin: 0px;
    padding: 0px;
}


.mid { 
    position: absolute;
justify-content: center;
  align-items: center;
  display: block;
  width: 20%;
  height: 10%;
  margin: 4px auto;
}

.bg{
  background-image: url(/Background/bg.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  position: absolute;
  width: 1688px;
  height: 1053px;
  left: -124px;
  top: -14px;
  background-size: cover;
}

.companyname{
    justify-content: center;
    /* align-items: */

    left: 5%;
    font-family: "Sofia", sans-serif;
    font-size: 40px;
    display: flex;
}

.navbar {
left: 80%;
  width: 38%;
  display: block;
  height: 10%;
  margin: 4px auto;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  display: flex;
  padding: 20px;
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
  background-color: orange;
}

.navbar ul li a {
  display: block;
  color: rgb(113, 34, 34);
  border-radius: 20px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: black;
  background-color: white;
}

.text {
  font-family: 'Titillium Web', sans-serif;
  justify-content: center;
  text-align: center;
  padding: 3%;
  font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    font-family: "Trirong", serif;
  }
